
:root {
  --bg-color: #fff; /* Light theme background */
  --text-color: #003f45; /* Light theme text */
  --input-bg: #f0f0f0; /* Light theme input background */
  --button-bg: #d4d4d4; /* Light theme button background */
  --table-border: #ddd; /* Light theme table border */
}

/* Dark Theme Variables */
.dark-theme {
  --bg-color: #181818;
  --text-color: #eee;
  --input-bg: #333;
  --button-bg: #555;
  --button-color: #181818; 
  --table-border: #444;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

button + button {
  margin-left: 10px;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
}

input[type="number"] {
  width: 180px;
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--button-bg);
  color: var(--button-color);
  padding: 10px 20px;
  width: 200px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

p {
  margin-top: 20px;
}

.app-footer {
  justify-content: center;
  text-align: center;
  align-self: center;
  padding: 15px;
  background-color: var(--bg-color); /* Match footer color to the theme */
  color: var(--text-color);
  font-size: 24px;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%; 
}


.history-container div {
   margin-bottom: 10px; /* Space between calculations */
}

.history-container {
  margin-top: 30px; 
  border: 1px solid #ddd;
  padding: 15px;
}

.history-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.calculation-steps table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 10px;
}

.calculation-steps th, .calculation-steps td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
